
/* 
* orange: #F78536;
* blue1: #DFEBED;
* blue2: #497285;
* blue3: #2B4450;
* http://colorhunt.co/c/12370
*/


.navbar{
	background: white;
	margin: 0;
	border-radius: 0px;
	border-width: 0px;
}

.navbar button{
	border-width: 1px;
	border-radius: 2px;
	border-color: #F78536;
	background: transparent;
	color: #F78536;
}


.navbar button:hover{
	border-radius: 2px;
	border-color: white;
	background: #F78536;
	color: white;
}


.profile-info{

 	padding-top: 30px;
 	padding-bottom: 30px;
	background: #303841;
	color: white;
}

.btn-group button{
	border: 0px;
}


.btn-group button{
	background: transparent;
}
.btn-group button:hover{
	background: transparent;
}

.btn-group button:active{
	background: transparent;
}

.panel-default{
	border: 0px;
	border-radius: 0px;
	box-shadow: 0px 0px 0px;
}

.panel-default .panel-heading{
	background: transparent;
	border: 0px;
	padding-top: 0px;
}

.panel-default .panel-body{

	padding-top: 0px;
}

#projects .label{

	font-size: 15px;
}

.label.label-warning{
	background: #F78536;
}

.label.label-primary{
	background: #497285;
}


